<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/descripcion.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/"><img src="IMG/logo.png" alt="Vetix logo"></a>
            </div>
            <h1>VETIX</h1>
        </div>
        <nav>
            <ul>
                <li><input type="text" placeholder="Buscar..."></li>
                <li class="menu"><a href="Productos">Menu</a></li>
                <li><a href="Inicio_de_sesion">Inicio de sesión</a></li>
                <li><a href="Registro">Registrarme</a></li>
                <li><a href="#"><img src="IMG/Carrito.svg" width="50px" height="50px"></a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="image">
            <img src="IMG/PRODUCTOS/Producto1.jpg" alt="Descripción de la imagen">
        </div>
        <div class="almadraba-roll">
            <h2>Almadraba Roll</h2>
            <p>Atún en tempura con queso crema, envuelto en arroz de sushi cubierto de atún flambeado, salsa kazan y salsa teriyaki.</p>
            <p>8.5€</p><br><br>
            <button class="add-to-cart">Añadir al carrito</button>
          </div>
    </div>

    <div id="page-container">
        <!-- Contenido de la página -->
        <main id="content-wrap">
            <!-- Contenido del main -->
        </main>
        <footer id="footer">
            <h1 class="About_me">Contacto:</h1>
            <div class="footer-middle">
                <p>Correo: <a href="mailto:example@email.com">Vetix@email.com</a></p>
                <p>Número de teléfono: <a href="tel:+1234567890">+34 689 89 56 09</a></p>
            </div>
            <div class="footer-right">
                <a href="https://www.instagram.com/"><img src="IMG/insta.jpg" height="20rem" width="20rem">@Vetix_Sevilla //</a>
                <a href="https://twitter.com/home?lang=en"><img src="IMG/x.png" height="20rem" width="20rem">@Vetix_Sevilla</a>
            </div>
        </footer>
    </div>
</body>
</html>
