<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/Productos.css">
    <title>Productos</title>
</head>
<body>
    <header>
        <div class="header-container">
          <div class="logo">
            <a href="Home.html"><img src="IMG/logo.png" alt="Vetix logo"></a>
          </div>
          <h1>VETIX</h1>
        </div>
        <nav>
          <ul>
            <li><input type="text" placeholder="Buscar..."></li>
            <li class="menu"><a href="Productos">Menu</a></li>
            <li><a href="Inicio_de_sesion">Inicio de sesión</a></li>
            <li><a href="Registro">Registrarme</a></li>
            <li><img src="IMG/Carrito.svg" width="50px" height="50px"></li>
          </ul>
        </nav>
      </header>
    <div class="container">
        <div class="image-container">
          <a href="descripcion"><img src="IMG/PRODUCTOS/Producto1.jpg" alt="Imagen1" class="producto"></a>
            <p class="price">ALMADRABA ROLL 8€</p>
        </div>
        <div class="image-container">
          <a href="descripcion"><img src="IMG/PRODUCTOS/Producto2.jpg" alt="Imagen1" class="producto"></a>
            <p class="price">ANGUILA ROLL8€</p>
        </div>
        <div class="image-container">
          <a href="descripcion"><img src="IMG/PRODUCTOS/Producto3.jpg" alt="Imagen1" class="producto"></a>
            <p class="price">HAWAI ROLL 8€</p>
        </div>
    </div>
    <div class="container">
        <div class="image-container">
          <a href="descripcion"><img src="IMG/PRODUCTOS/Producto4.jpg" alt="Imagen1" class="producto"></a>
            <p class="price">KAZAN ROLL 8€</p>
        </div>
        <div class="image-container">
          <a href="descripcion"><img src="IMG/PRODUCTOS/Producto5.jpg" alt="Imagen1" class="producto"></a>
            <p class="price">SPICE ROLL 8€</p>
        </div>
        <div class="image-container">
          <a href="descripcion"><img src="IMG/PRODUCTOS/Producto6.jpg" alt="Imagen1" class="producto"></a>
            <p class="price">HOT ROLL 8€</p>
        </div>
    </div>
    <div class="container">
        <div class="image-container">
          <a href="descripcion"><img src="IMG/PRODUCTOS/Producto13.jpg" alt="Imagen1" class="producto"></a>
            <p class="price"> ROLING ROLL 8€</p>
        </div>
        <div class="image-container">
          <a href="descripcion"><img src="IMG/PRODUCTOS/Producto8.jpg" alt="Imagen1" class="producto"></a>
            <p class="price">NEWYORK ROLL 8€</p>
        </div>
        <div class="image-container">
          <a href="descripcion"><img src="IMG/PRODUCTOS/Producto9.jpg" alt="Imagen1" class="producto"></a>
            <p class="price">TEXAS ROLL 8€</p>
        </div>
    </div>
    <div class="container">
        <div class="image-container">
          <a href="descripcion"><img src="IMG/PRODUCTOS/Producto10.jpg" alt="Imagen1" class="producto"></a>
            <p class="price">ALMADRABA ROLL 8€</p>
        </div>
        <div class="image-container">
          <a href="descripcion"><img src="IMG/PRODUCTOS/Producto11.jpg" alt="Imagen1" class="producto"></a>
            <p class="price">ALMADRABA ROLL 8€</p>
        </div>
        <div class="image-container">
          <a href="descripcion"><img src="IMG/PRODUCTOS/Producto12.jpg" alt="Imagen1" class="producto"></a>
            <p class="price">ALMADRABA ROLL 8€</p>
        </div>
    </div>
    
    <div id="page-container">
        <!-- Contenido de la página -->
        <main id="content-wrap">
          <!-- Contenido del main -->
        </main>
        <footer id="footer">
          <h1 class="About_me">Contacto:</h1>
          <div class="footer-middle">
            <p>Correo: <a href="mailto:example@email.com">Vetix@email.com</a></p>
            <p>Número de teléfono: <a href="tel:+1234567890">+34 689 89 56 09</a></p>
          </div>
          <div class="footer-right">
            <a><img src="IMG/insta.jpg" href="https://www.instagram.com/" height="20rem" width="20rem">@Vetix_Sevilla //</a>
            <a><img src="IMG/x.png" href="https://twitter.com/home?lang=en" height="20rem" width="20rem">@Vetix_Sevilla</a>
          </div>
        </footer>
      </div>
</body>
</html>